---
import Main from '../../layouts/Main.astro';
import ProfileView from '../../components/Profile.astro';
import { Profile, getProfile, setDB } from '../../api';
import { currentUser } from '../../utils';

setDB(Astro.locals.runtime?.env?.DB);

const viewer = await currentUser(Astro.cookies);
let profile: Profile | undefined, error: string | Error | undefined;
try {
	profile = Astro.params.id ? await getProfile('id', Astro.params.id) : viewer;
} catch (e) {
	error = e;
}
---

<Main title="Profile" profile={viewer}>
	{error
		? <div class="error"><p>{typeof error == 'string' ? error : error.message}</p></div>
		: <ProfileView {profile} {viewer} />
	}
</Main>
