@media (min-width: calc(350px + 20em)) {
	li {
		margin: 0 var(--li-margin) 0.5em;
	}
}

@media (max-width: calc(350px + 20em)) {
	li {
		margin: 0 calc(calc(100% - 350px) / 2) 0.5em;
	}
}

li {
	gap: 5em;
	text-align: left;
}

p {
	white-space: nowrap;
	margin: 0;
	padding: 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
}

p.name {
	flex-grow: 1;
}

p.type {
	flex: 0 0 5em;
}

p.type.checking {
	color: hsl(calc(var(--hue) - 20), 100%, 90%, 0.8);
}

p.type.savings {
	color: hsl(calc(var(--hue) + 20), 100%, 90%, 0.8);
}
