ul {
	overflow-y: scroll;
}

li,
.li {
	display: flex;
	flex-direction: row;
	width: max(var(--li-min-width), calc(100% - calc(var(--li-margin) * 2)));
	border-radius: 0.5em;
	border: 1px solid var(--text-color-alt);
	padding-left: 1em;
	padding-right: 1em;
}
