@media (min-width: calc(350px + 20em)) {
	li,
	.li {
		margin: 0 var(--li-margin) 0.5em;
	}
}

@media (max-width: calc(700px + 20em)) {
	li,
	.li {
		margin: 0 calc(calc(100% - 700px) / 2) 0.5em;
	}
}

li,
.li {
	align-items: center;
	gap: 1em;
}

p {
	white-space: nowrap;
	margin: 0;
	padding: 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
}

p.from {
	flex-grow: 1;
}

p.to {
	flex-grow: 1;
}

p.memo {
	flex-grow: 1;
}

p.amount {
	flex: 0 0 10em;
}

p.timestamp {
	flex: 0 0 15em;
}

p.details {
	flex: 0 0 7em;
}
