:root {
	color-scheme: only dark;
	--li-margin: 10em;
}

.center {
	text-align: center;
}

nav {
	background-color: hsl(var(--hue-nav), 75%, 50%);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3em;
	z-index: 2;
}

nav > :not(div) {
	position: absolute;
	height: 100%;
	line-height: 3em;
	z-index: 4;
	text-decoration: none;
}

nav .title {
	left: 12em;
	width: min(fit-content, 10em);
}

nav a.home {
	left: 1em;
	width: max-content;
}

nav a.profile {
	right: 8em;
	text-align: right;
}

nav a.logout {
	right: 1em;
	text-align: right;
}

nav svg.icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: sub;
}

svg.icon {
	display: inline;
	width: 1em;
	height: 1em;
	fill: var(--text-color);
	overflow: visible;
}

svg.icon.source {
	width: 0em;
	height: 0em;
}

.clickable:hover {
	cursor: pointer;
}

.page-content-center {
	position: absolute;
	left: 25%;
	width: 50%;
	text-align: center;
}

.error {
	display: inline-block;
	background-color: #a44;
	border-radius: 1em;
	width: fit-content;
	text-align: center;
	padding: 0.75em;
	margin: 1em;
}

a.action {
	background: hsla(var(--hue-nav), 100%, 50%, 1);
	padding: 10px 20px 10px 20px;
	margin: 5px 10px 5px 10px;
	border-radius: 4px;
	box-shadow: none;
}
