---
import { getProfileAccounts, setDB } from '../api';
import Main from '../layouts/Main.astro';
import { currentUser } from '../utils';
import AccountLI from '../components/AccountLI.astro';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (!profile) {
	return Astro.redirect('/login');
}

const accounts = await getProfileAccounts(profile.id);
---

<style>
	ul {
		list-style: none;
		padding-left: 0;
	}

	.header {
		font-weight: bold;
		border: none;
	}
</style>
<Main title="Accounts">
	<div class="center"><h2>Your Accounts</h2></div>
	{typeof accounts == 'string' ? accounts : <ul>
		<li class="header">
			<p class="type">Type</p>
			<p class="name">Name</p>
		</li>
		{accounts.map(account => <AccountLI {account} />)}
	</ul>}
	<div class="center"><a href="/account/open"><button>Open an account</button></a></div>
</Main>
