---
import Main from '../layouts/Main.astro';
import { parseBody } from '../utils';
import { isValidAccountAttribute, login } from '../api';

let err: Error | undefined;
if (Astro.request.method == 'POST') {
	try {
		const body = await parseBody<{ email: string; password: string }>(Astro.request);
		if (!isValidAccountAttribute('email', body.email)) throw 'You must enter a valid email.';

		const { token } = await login(body.email, body.password);
		Astro.cookies.set('token', token, { expires: new Date(Date.now() + 3600_000 * 24 * 28) });
		return Astro.redirect('/');
	} catch (e) {
		err = e;
	}
}
---

<Main title="login" center>
	<h1>Login</h1>
	<br /><br /><br />
	{err && <div class="error">{err}</div>}
	<style>
		input {
			padding: 0.25em;
			margin: 0.5em;
		}
	</style>
	<form method="post">
		<input name="email" placeholder="E-Mail" style="width:25%" type="email" autocomplete="email" /><br />
		<input name="password" placeholder="Password" style="width:25%" type="password" autocomplete="current-password" /><br /><br />
		<button>Login</button>
	</form>
	<br />
	<a href="/register">Register Instead</a>
</Main>
