---
import Main from '../layouts/Main.astro';
import { logout, setDB } from '../api';
import { currentUser } from '../utils';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (profile) {
	await logout(profile.id);
	return Astro.redirect('/');
}
---

<Main title="Logout" center>
	<br /><br />
	{profile ? 'Successfully signed you out' : 'You must be signed in to do that!'}
</Main>
