---
import Main from '../layouts/Main.astro';
import { logout, setDB } from '../api';
import { currentUser } from '../utils';

setDB(Astro.locals.runtime.DB);

const account = await currentUser(Astro.cookies);

if (account) {
	await logout(account.id);
	return Astro.redirect('/');
}
---

<Main title="Logout" center>
	<br /><br />
	{account ? 'Successfully signed you out' : 'You must be signed in to do that!'}
</Main>
