---
import Main from '../layouts/Main.astro';
import LoginUI from '../components/Login.astro';
import { setDB } from '../api/common';
import { currentUser } from '../utils';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (!profile) {
	return Astro.redirect('/login');
}

if (Astro.request.method == 'POST') {
	setDB(Astro.locals.runtime?.env?.DB);

	return Astro.redirect(Astro.request.referrer == '/register' ? '/' : '/profile');
}

import '../styles/forms.css';
---
<Main title="Preferences">
	<form>
		<h2>Your Preferences</h2>
		<label for="PLACEHOLDER_1">Placeholder 1</label>
		<input name="PLACEHOLDER_1" type="text" />
		<label for="PLACEHOLDER_2">Placeholder 1</label>
		<input name="PLACEHOLDER_2" type="text" />
		<label for="PLACEHOLDER_2">Placeholder 1</label>
		<input name="PLACEHOLDER_2" type="text" />
		<button>Save</button>
	</form>
</Main>
