---
import Main from '../layouts/Main.astro';
import LoginUI from '../components/Login.astro';
import { setDB } from '../api/common';
import { currentUser, parseBody } from '../utils';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (!profile) {
	return Astro.redirect('/login');
}

if (Astro.request.method == 'POST') {
	setDB(Astro.locals.runtime?.env?.DB);

	const body = await parseBody<Record<'referrer' | 'PLACEHOLDER_1', string>>(Astro.request);

	console.log('[ref]', body.referrer);

	return Astro.redirect(body.referrer == '/register' ? '/' : '/profile');
}

import '../styles/forms.css';
---
<Main title="Preferences">
	<form method="post">
		<h2>Your Preferences</h2>
		<input type="hidden" name="referrer" value={Astro.request.headers.get('Referrer')} />
		<label for="PLACEHOLDER_1">Placeholder 1</label>
		<input name="PLACEHOLDER_1" type="text" />
		<label for="PLACEHOLDER_2">Placeholder 1</label>
		<input name="PLACEHOLDER_2" type="text" />
		<label for="PLACEHOLDER_2">Placeholder 1</label>
		<input name="PLACEHOLDER_2" type="text" />
		<button>Save</button>
	</form>
</Main>
