---
import Main from '../layouts/Main.astro';
import { createProfile, login, setDB } from '../api';
import { parseBody } from '../utils';

let error;

if (Astro.request.method == 'POST') {
	setDB(Astro.locals.runtime?.env?.DB);

	try {
		const body = await parseBody<{ name: string; email: string; password: string }>(Astro.request);

		const profile = await createProfile(body.email, body.name, body.password);

		const token = await login(profile.id);
		Astro.cookies.set('token', token, { expires: new Date(Date.now() + 3600_000 * 24 * 28) });
		return Astro.redirect('/');
	} catch (err: any) {
		error = err.message || err;
	}
}

import '../styles/forms.css';
---

<Main title="Register" center>
	<form method="post">
		<h1>Register</h1>
		{error && <div class="error">{error}</div>}
		<label for="email">Email</label>
		<input name="email" type="email" autocomplete="email" />
		<label for="name">Name</label>
		<input name="name" autocomplete="name" />
		<label for="password">Password</label>
		<input name="password" type="password" autocomplete="new-password" />
		<button>Register</button>
	</form>
	<br />
	<a href="/login">Login Instead</a>
</Main>
