---
import { Account } from '../api';

interface Props {
	account: Account;
}

const {
	account: { type, name, id },
} = Astro.props;
---

<style>
	li {
		display: flex;
		flex-direction: row;
		gap: 10em;
		border-radius: 0.5em;
		border: 1px solid #ccc;
		padding-left: 1em;
		padding-right: 1em;
	}

	p.savings {
	}
</style>

<li>
	<p class={type}>{type}</p>
	<p><a href=`/account/${id}`>{name}</a></p>
</li>
