---
import { Account } from '../api';
import { capitalize } from 'utilium';

interface Props {
	account: Account;
}

const {
	account: { type, name, id },
} = Astro.props;

import '../styles/li.css';
import '../styles/account-li.css';
---

<li>
	<p class={'type ' + type}>{capitalize(type)}</p>
	<p class="name"><a href=`/account/${id}`>{name}</a></p>
</li>
