---
interface Props {
	error?: any;
}

import '../styles/forms.css';
---
<style>
	.register {
		margin-top: 2em;
	}
</style>
<form method="post">
	<h1>Login</h1>
	{Astro.props.error && <div class="error">{Astro.props.error}</div>}
	<label for="email">Email</label>
	<input name="email" type="email" autocomplete="email" />
	<label for="password">Password</label>
	<input name="password" type="password" autocomplete="current-password" />
	<button>Login</button>
	<a href="/register" class="register">Register Instead</a>
</form>
