---
import { checkParams, hash, parseBody } from '../utils';
import { getProfile, isValidProfileAttribute, login, setDB } from '../api';

interface Props {
	error?: any;
}

import '../styles/forms.css';
---

<form method="post">
	<h1>Login</h1>
	{Astro.props.error && <div class="error">{Astro.props.error}</div>}
	<label for="email">Email</label>
	<input name="email" type="email" autocomplete="email" />
	<label for="password">Password</label>
	<input name="password" type="password" autocomplete="current-password" />
	<button>Login</button>
	<br />
	<a href="/register">Register Instead</a>
</form>
