---
import { getProfileRole, stripProfileInfo, type Profile } from '../api';

interface Props {
	profile?: Profile;
	viewer?: Profile;
}

let { profile, viewer } = Astro.props;
const editable = profile === viewer || viewer?.type! > Math.max(profile?.type!, 1);
---

{editable && <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="icon.edit" class="icon source">
	<path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.8 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
</svg>}
<div
	class="profile center"
	data-profile={encodeURIComponent(JSON.stringify(profile ? stripProfileInfo(profile) : null))}
	data-viewer={encodeURIComponent(JSON.stringify(viewer ? stripProfileInfo(viewer) : null))}
	id="profile"
>
	<style>
		svg:hover {
			cursor: pointer;
		}
		tr {
			border-style: none;
			border-top: 1px solid hsla(200, 100%, 90%, 0.8);
		}
		td {
			padding: 10px 50px 10px 50px;
			border-style: none;
		}
		input {
			padding: 0.25em;
			margin: 0.5em;
		}
		table {
			background-color: inherit;
			border-style: none;
			box-shadow: none;
		}
	</style>
	<div id="error-container"></div>
	<dialog id="delete-dialog">
		<p>Are you sure you want to delete this profile?</p><br />
		<button class="no">No</button><button class="yes">Yes</button>
	</dialog>
	<dialog id="logout-dialog">
		<p>Are you sure you want to logout this profile?</p><br />
		<button class="no">No</button><button class="yes">Yes</button>
	</dialog>
	<br />
	{!profile && <div class="error"><p>An profile was not specified or does not exist</p></div>}
	{editable && Astro.url.searchParams.has('edit') &&	<form id="edit-container">
		{Astro.url.searchParams.get('edit') == 'name' && <>
			<input name="name" placeholder="New Name" autocomplete="on" />
			<br />
		</>}
		{Astro.url.searchParams.get('edit') == 'email' && <>
			<input name="email" placeholder="New email" type="email" autocomplete="email" />
			<br />
		</>}
		{Astro.url.searchParams.get('edit') == 'type' && <>
			<select name="type">
				<option value="0">User</option>
				<option value="1">Moderator</option>
				<option value="2">Developer</option>
				<option value="3">Administrator</option>
			</select>
			<br />
		</>}
		{Astro.url.searchParams.get('edit') == 'password' && <span>
			<input name="current_password" placeholder="Current password" type="password" autocomplete="current-password" />
			<br />
			<input name="new_password" placeholder="New password" type="password" autocomplete="new-password" />
			<br />
			<input name="confirm_password" placeholder="Confirm new password" type="password" autocomplete="new-password" />
			<br />
		</span>}
		<br />
		<button id="change">Change</button>
	</form>}
	{profile?.id && <>
		<h1>Profile</h1>
		<table>
			<tr>
				<td>Profile ID</td>
				<td>{profile.id}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{profile.name}&nbsp;&nbsp;{editable && <a href="?edit=name"><svg class="icon"><use href="#icon.edit" /></svg></a>}</td>
			</tr>
			{(viewer === profile || viewer?.type! > 0) && <tr>
				<td>Email</td>
				<td>{profile.email}&nbsp;&nbsp;{editable && <a href="?edit=email"><svg class="icon"><use href="#icon.edit" /></svg></a>}</td>
			</tr>}
			<tr>
				<td>Type</td>
				<td>{getProfileRole(profile.type)}&nbsp;&nbsp;{editable && viewer && <a href="?edit=type"><svg class="icon"><use href="#icon.edit" /></svg></a>}</td>
			</tr>
			<tr>
				<td>Created</td>
				<td>{profile.created.toLocaleString().slice(0, -3)}</td>
			</tr>
			<tr>
				<td>Name last changed</td>
				<td>{profile.lastchange.toLocaleString().slice(0, -3)}</td>
			</tr>
			{viewer?.type! > 0 && <tr>
					<td>Disabled</td>
					<td>{profile.is_disabled ? 'Yes' : 'No'}</td>
				</tr>}
			{viewer?.type! > 0 && <tr>
				<td>Logged in</td>
				<td>{profile.token ? 'Yes' : 'No'}</td>
			</tr>}
		</table>
		<br />
	</>}
	<button id="refresh" onclick="location.reload()">Refresh</button>
	{profile && editable && <>
		<h3>Profile Actions</h3>
		<a href="?edit=password"><button>Change password</button></a>
		<a href="/logout"><button id="logout">Logout</button></a>
		<button id="delete">Delete profile</button>
		{profile?.is_disabled ? viewer?.type! > profile?.type! && <button id="#enable">Enable</button> : <button id="#disable">Disable</button>}
	</>}
</div>
