---
import Main from '../../layouts/Main.astro';
import AccountView from '../../components/Account.astro';
import { Account, getAccount, AccountType } from '../../api';
import { currentUser } from '../../utils';

const viewer = await currentUser(Astro.cookies);
let account: Account | undefined, error: string | Error;
try {
	account = Astro.params.id ? await getAccount(Astro.params.id, (viewer?.type ?? 0) > AccountType.ACCOUNT ? 'protected' : 'public') : viewer;
} catch (e) {
	error = e;
}
---

<Main title="Account" center account={viewer}>
	{
		error ? (
			<div class="error">
				<p>{typeof error == 'string' ? error : error.message}</p>
			</div>
		) : (
			<AccountView {account} {viewer} />
		)
	}
</Main>
