---
import { createAccount, isValidAccountType, setDB } from '../../api';
import Main from '../../layouts/Main.astro';
import { checkParams, currentUser, parseBody } from '../../utils';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (!profile) {
	return Astro.redirect('/login');
}

let error: string | undefined;

try {
	if (Astro.request.method == 'POST') {
		// parse body
		const body = await parseBody<'name' | 'type'>(Astro.request);

		checkParams(body, 'name', 'type');

		if (!isValidAccountType(body.type)) {
			throw 'Invalid account type';
		}

		await createAccount(profile?.id, body.name, body.type);

		return Astro.redirect('/accounts');
	}
} catch (e) {
	error = e;
}
---

<Main title="Open an Account">
	{error && <div class="error">{error}</div>}
	<form method="post">
		<h2>Open an account</h2>
		<br /><br />
		<label for="name">Account Nickame</label>
		<input type="text" name="name" />
		<br /><br />
		<label for="type">Account Type</label>
		<select name="type">
			<option value="savings">Savings</option>
			<option value="checking">Checking</option>
		</select>
		<br /><br />
		<button>Open my account</button>
	</form>
</Main>
