---
import { Profile, setDB } from '../api';
import '../styles/styles.css';
import '../styles/website.css';
import { currentUser } from '../utils';

interface Props {
	title: string;
	center?: boolean;
	profile?: Profile;
}

setDB(Astro.locals.runtime?.env?.DB);

const { title, center, profile = await currentUser(Astro.cookies) } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="description" content="A simple financial app" />
		<meta name="author" content="James Prevett,Joanne Porter,Michaelangelo Eldridge,Numa Fatima" />
		<meta name="generator" content={Astro.generator} />
		<title>Journey - {title}</title>
		<slot name="in-header" />
		<style>
			.center-content {
				position: absolute;
				left: 25%;
				width: 50%;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<nav>
			<a id="profile-link" class="sub-menu" href={profile ? '/profile' : '/login'}>{profile ? 'Logged in as ' + profile.name : 'Login'}</a>
			{
				profile && (
					<div class="sub-menu" style="position:fixed;right:1px;top:50px">
						<>
							<a href="/profile">Profile</a>
							<br />
						</>
						{profile?.type! > 0 && (
							<>
								<a href="/admin">Admin</a>
								<br />
							</>
						)}
						<a href="/logout">Log&nbsp;out</a>
					</div>
				)
			}
			<a href="/" style="padding-top:2%">Home</a>
		</nav><br /><br />
		{
			center ? (
				<div class="center-content">
					<slot />
				</div>
			) : (
				<slot />
			)
		}
	</body>
</html>
