---
import { Profile, setDB } from '../api';
import '../styles/styles.css';
import '../styles/website.css';
import { currentUser } from '../utils';

interface Props {
	title: string;
	center?: boolean;
	profile?: Profile;
}

setDB(Astro.locals.runtime?.env?.DB);

const { title, center, profile = await currentUser(Astro.cookies) } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="description" content="A simple financial app" />
		<meta name="author" content="James Prevett,Joanne Porter,Michaelangelo Eldridge,Numa Fatima" />
		<meta name="generator" content={Astro.generator} />
		<title>Journey - {title}</title>
		<slot name="in-header" />
	</head>
	<body>
		<nav>
			<a class="home" href="/">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon">
					<use href="/icons.svg#house"></use>
				</svg>
			</a>
			<a class="profile" class="sub-menu" href={profile ? '/profile' : '/login'}>
				{profile ? <>
					<svg xmlns="http://www.w3.org/2000/svg" class="icon"><use href="/icons.svg#user" /></svg>
					<span>{profile.name}</span>
				</> : 'Login'}
			</a>
			{profile && <div class="sub-menu" style="position:fixed;right:1px;top:50px">
				<div>
					<a href="/profile">Profile</a>
					<a href="/logout">Log&nbsp;out</a>
				</div>
			</div>}
		</nav><br /><br />

		<script>
			let hue = 0,
				i: number | undefined;

			function stobe_start() {
				if (i) {
					return;
				}

				console.debug('Strobe started');

				hue = 0;
				i = setInterval(() => {
					hue = (hue + 1) % 360;
					document.documentElement.style.setProperty('--hue', (hue + 16).toString());
					document.documentElement.style.setProperty('--hue-nav', hue.toString());
				}, 50) as unknown as number;
			}

			function stobe_stop() {
				if (!i) {
					return;
				}

				console.debug('Strobe ended');

				clearInterval(i);
				i = undefined;
			}

			document.body.addEventListener('keydown', e => {
				if (e.key == 'J' && e.shiftKey) {
					e.preventDefault();
					i ? stobe_stop() : stobe_start();
				}
			});
		</script>
		<slot />
	</body>
</html>
